@import "./base.scss";

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.Button{        
    font-size: 2rem;
    padding: 3rem;
    border-radius: 1rem;    
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .IdInput{
        width: $inputWidth;
        height: $height;
        border-radius: $interval;
        border:none;
        margin-bottom: $interval;
        
    }

    .PassInput{
        width: $inputWidth;
        height: $height;
        border-radius: $interval;
        border:none;        
        margin-bottom: $interval;
    }

    .Loginbutton{
        width: $buttonWidth;
        height: $height;
        border-radius: $interval;
        background-color: D9D9D9;
        border: none;
        margin-bottom: $interval;
    }
    .googleButton{
        width: $buttonWidth;
        height: $height;
        border-radius: $interval;
        background-color: D9D9D9;
        border: none;
        margin-bottom: $interval;    
        
        
    }
    .signUpButton{
        width: $buttonWidth;
        height: $height;
        border-radius: $interval;
        background-color: D9D9D9;
        border: none;
        margin-bottom: $interval; 
    }
    .kakaoDiv{
        width: $buttonWidth;
        height: 30px;
        font-size: 20px;
        background-color: yellow;
        border: none;
        margin-top: $interval; 
        border-radius: 5px;
        .kakao{
            text-decoration: none;
            color: black;
            margin-top: $interval;
        }
    }
}
