$inputWidth:300px;
$buttonWidth:206px;
$height:32px;
$interval:15px;

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.Button{        
    font-size: 2rem;
    padding: 3rem;
    border-radius: 1rem;    
    margin-top: 100px;
    
    .IdInput{
        width: $inputWidth;
        height: $height;
        border-radius: $interval;
        border:none;
        margin-bottom: $interval;
        
    }
    .PassInput{
        width: $inputWidth;
        height: $height;
        border-radius: $interval;
        border:none;        
        margin-bottom: $interval;
    }
    .Loginbutton{
        width: $buttonWidth;
        height: $height;
        border-radius: $interval;
        background-color: #D9D9D9;
        border: none;
        margin-bottom: $interval;
    }
    .googleButton{
        width: $buttonWidth;
        height: $height;
        border-radius: $interval;
        background-color: #D9D9D9;
        border: none;
        margin-bottom: $interval;    
        
        
    }
    .signUpButton{
        width: 206px;
        height: $height;
        border-radius: $interval;
        background-color: #D9D9D9;
        border: none;
        margin-bottom: $interval; 
    }
}

a {
    text-decoration: none;
}