.wedding {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  float: left;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  position: absolute;
  height: 80px;
}