.headerLogin {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  float: right;
}

.itemBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  margin-bottom: 150px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  width: 915px;
  height: 679px;

  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background-color: #D9D9D9;
  opacity: 45%;

  font-size: 30px;
}